* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

.circle {
    position: absolute;
    top: 5px;
    left: 2%;
    width: 4%;
    height: 60px;
    border-radius: 100%;
    background: black;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: none;
    background: none;
    background-image: url(../img/eu.jpg);
    background-size: cover;
}

nav {
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-top: 15px;
    background: rgba(236, 240, 241, 0.6);
}

.links {
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    list-style-type: none;
    -moz-text-decoration-style: none;
}

.container {
    box-sizing: border-box;
    display: block;
}


/*EM CONSTRUÇÃO*/

.label {
    text-align: center;
    margin-top: 3%;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-weight: 900;
    ;
}

.autor {
    margin-left: 77%;
    font-weight: 500;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
}

.message {
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}